# editor detritus
*~
\#*#
.#*
.*.sw[a-p]

# created by building the package
/*.egg-info/
__pycache__/
*.o
*.so
*.dll
*.dylib
/dist/*

# miscellaneous
.hypothesis/
/.mypy_cache/
/.pytest_cache/
/.venv*/
.ipynb_checkpoints/
.idea/
*_scratch.py
*_scratch.ipynb
.DS_Store

# package artifacts
fast_client_log*.csv
index.csv
